* {
  box-sizing: border-box;
}

.box {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  margin: auto;
  cursor: pointer;
  position: relative;
}
p {
  line-height: 70px;
  color: white;
}
.circle-1 {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  text-align: center;
  z-index: 2;
  transition: all 1s;
}
.circle-2 {
  display: inline-block;
  background-color: red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  z-index: 1;
  transition-property: top, left, background-color, border-radius;
  transition-duration: 2s, 1s, 1s, 0.5s;
  transition-delay: 0s, 0.5s, 0.5s, 1s;
}
.circle-3 {
  display: inline-block;
  background-color: green;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  transition-property: top, left;
  transition-duration: 1s, 1s;
  transition-delay: 0s, 1s;
}
.circle {
  position: absolute;
  top: 200px;
  left: 200px;
}

.box:hover .circle-1 {
  top: 0;
  left: 0;
}
.box:hover .circle-2 {
  top: 0;
  left: 400px;
  background-color: yellow;
  border-radius: 0;
}
.box:hover .circle-3 {
  top: 400px;
  left: 400px;
}
